
@{
	ViewData["Title"] = "Galactae - Contact";
}

<section class="contact">
	<article>
		<h1>@Localizer["CONTACT"]</h1>
		<p>@Localizer["CONTACT_US_BY"]</p>
		<div class="contact-part">
			<h4>@Localizer["CONTACT_BY_SOCIALNETWORKS"]</h4>
			<a href="https://www.facebook.com/galactaeSAD/">Facebook</a> -
			<a href="https://twitter.com/GalactaeSAD">Twitter</a> -
			<a href="https://www.youtube.com/user/ElanisGaming">Youtube</a>
			<br /><br />
		</div>
		<div class="contact-part">
			<h4>@Localizer["CONTACT_BY_FORM"]</h4>
			<form method="post" action="contact">
				<input type="text" id="mail" name="mail" placeholder="@Localizer["CONTACT_MAIL"]" required><br />
				<textarea cols="40" rows="6" id="txt" name="txt" placeholder="@Localizer["CONTACT_TXT"]" required></textarea><br />

				<script src='https://www.google.com/recaptcha/api.js'></script>
				<div class="g-recaptcha" data-sitekey="***REMOVED***"></div>
				<input type="submit" value="@Localizer["CONTACT_SEND"]" />
			</form>
		</div>
	</article>
</section>