<footer>
	<table>
		<tr class="first-footer">
			<td>
				<ul>
					<li><h3>@Localizer["THE_GAME"]</h3></li>
					<li><a href="medias#gameEvolution">@Localizer["MEDIAS_EVOLUTION"]</a></li>
					<li><a href="medias#backgrounds">@Localizer["MEDIAS_BACKGROUNDS"]</a></li>
					<li><a href="blog">@Localizer["MENU_BLOG"]</a></li>
					<li><a href="https://bugs.dysnomia.studio/projects/galactae">@Localizer["MENU_BUGTRACKER"]</a></li>
					<li><a href="https://forum.galactae.eu/">@Localizer["MENU_FORUM"]</a></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><h3>@Localizer["LEGAL_NOTICES"]</h3></li>
					<li><a href="https://03.cdn.elanis.eu/website/pdf/cgu.pdf">@Localizer["LEGAL_NOTICES_CGU"]</a></li>
					<li><a href="https://03.cdn.elanis.eu/website/pdf/cgv.pdf">@Localizer["LEGAL_NOTICES_CGV"]</a></li>
					<li><a href="faq">@Localizer["LEGAL_NOTICES_FAQ"]</a></li>
					<li><a href="contact">@Localizer["LEGAL_NOTICES_CONTACT"]</a></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><h3>@Localizer["SOCIAL_NETWORKS"]</h3></li>
					<li><a href="redir/facebook.php">Facebook</a></li>
					<li><a href="redir/twitter.php">Twitter</a></li>
					<li><a href="redir/youtube.php">Youtube</a></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><h3>@Localizer["OTHER_LINKS"]</h3></li>
					<li><a href="partners">@Localizer["OTHER_LINKS_PARTNERS"]</a></li>
					<li><a href="theteam">@Localizer["OTHER_LINKS_THETEAM"]</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table>
		<tr class="second-footer">
			<td>Galactae: Space Age Dawn - @Localizer["COPYRIGHT_NOTICE_01"] <a href="https://dysnomia.studio">Dysnomia</a> - Copyright 2016-@(DateTime.Now.Year) - @Localizer["COPYRIGHT_NOTICE_02"]</td>
		</tr>
	</table>
</footer>