<!DOCTYPE html>
<!--
    Code by Elanis
    Copyright 2018-2018
    Don't copy this without permission
    I hope this code is readable.
-->
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b1012">
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="elanis, developer, web, gmod, eap, stargate, galactae, dysnomia">
    <meta name="description" content="Elanis: GameDev, Web Developer, and miscellaneous content maker" />
    <link rel="shortcut icon" type="image/png" href="@ViewData["cdnURL"]img/favicon.png" />
    <link rel="stylesheet" media="screen" type="text/css" title="Design" href="@ViewData["cdnURL"]css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
</head>
<body>
    <partial name="_Loading" />
    <div id="main-ui-bar">
        <span id="main-ui-title">Elanis' Portfolio <span id="main-ui-language">[<a href="/fr/@System.IO.Path.GetFileNameWithoutExtension(ViewContext.View.Path).ToLower()">Francais</a> / <a href="/en/@System.IO.Path.GetFileNameWithoutExtension(ViewContext.View.Path).ToLower()">English</a>]</span></span>
        <span id="main-ui-close">X</span>
    </div>
    <div id="main-ui">
        <partial name="_Menu" />

        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
