<ul class="socialnetworks">
    <li><a href="redir/steam.php" target="_blank"><img src="@ViewData["cdnURL"]img/steam.png" alt="steam"></a></li>
    <li><a href="mailto:***REMOVED***" target="_blank"><img src="@ViewData["cdnURL"]img/mail.png" alt="mail"></a></li>
    <li><a href="redir/github.php" target="_blank"><img src="@ViewData["cdnURL"]img/github.png" alt="github"></a></li>
    <li><a href="redir/youtube.php" target="_blank"><img src="@ViewData["cdnURL"]img/youtube.png" alt="youtube"></a></li>
    <li><a href="redir/twitter.php" target="_blank"><img src="@ViewData["cdnURL"]img/twitter.png" alt="twitter"></a></li>
    <li><a href="redir/facebook.php" target="_blank"><img src="@ViewData["cdnURL"]img/facebook.png" alt="facebook"></a></li>
</ul>